*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body{
    height: 100vh;
    background-color: #F2E8CF;
    }

.footerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F2E8CF;
}
.divisoesfooterBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.midiaBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;

}
@media screen and (max-width:960px){
    .home-container > h1 {
        font-size: 70px;
        margin-top: -150px;

}
}
@media screen and (max-width:768px) {
    .home-container > h1 {
        font-size: 50px;
        margin-top: -1500px;

}
    .home-container > p {
        font-size: 30px ;
    }
}