.loginPage{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.containerLogin{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.baseLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginBox{
    border-radius: 4%;
    background: rgba(56, 102, 65, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vw;
    height: 60vh;

}

.inputs{
    width: 13vw !important;
    display: flex;
    flex-direction: column;

}

.btn-custom{
    background-color: #DAAB37 !important;
    font-weight: 700 !important;
    border-radius: 40px !important;
    width: 8vw;
}
